# Ignore o .env com dados sensíveis
.env

# Node modules (geralmente já ignorado, mas importante garantir)
**/node_modules/

# Logs
*.log

# Diretórios de build do Next.js e NestJS
frontend/.next/
backend/dist/

# Cache
**/.turbo/
**/.cache/
**/.DS_Store

# Docker volumes (caso gere algum temporário)
volumes/

# Outros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
